#acppage tr.placeholder {
	height: 43px;
	width:100%;
}

#acppage tr.placeholder td {
	border: 1px dashed #dfdfdf;
}

#acppage table tbody tr.hover td {
	
}

#acppage tbody tr span.handler {
	display:block;
	background: url('../images/default/ui-icons.png') no-repeat -133px -52px; width: 6px; height: 9px;
	float:right;
	cursor:move;
}

.k-datepicker {
	margin-right:20px;
}
