input {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	padding: 10px 8px;
	width: 200px;
	margin: 0 10px 0 0;
}

a {
    color: #1B5495;
    font-size: 14px;
    font-weight: bold;
	text-decoration:none;
	outline:none;
}

a:hover {
	text-decoration:underline;	
}

.row1-mini, .row2-mini {
	margin-bottom:10px;
}

.row1-mini a, .row2-mini a {
	color: #020202;
    font-size: 12px;
	font-weight:normal;
	text-decoration:none;
}

input[type="submit"] {
	background: url("http://louis.net-tomorrow.com/images/site/butn-02-blue.gif") repeat-x scroll left top transparent;
	border: 0 none;
	border-radius: 9px 9px 9px 9px;
	color: #FEFEFE;
	cursor: pointer;
	/*float: right;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 38px;
	letter-spacing: -1px;
	line-height: 38px;
	margin: 30px 0 0;
	padding: 0 60px;
	position: relative;
	text-align: center;
	width: 255px;
}
textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	padding: 10px 8px;
	height: 140px;
	width: 500px !important;
}
select {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #ADADAD #D9D9D9 #D9D9D9 #ADADAD;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	height: 38px;
	padding: 10px 8px;
	width: 218px;
}
.clear {
	clear: both;
	height: 0;
}
td {
	padding: 10px 0;
}
.groupbox {
	font-family: Verdana,Geneva,sans-serif;
	padding: 0 7px;
	color: #A7090D;
    font-size: 30px;
    margin-bottom: 30px;
	font-weight:bold;
}
.option1, .option2 {
	width: 20%;
	color: #506584;
	padding-left: 7px;
	padding-right: 27px;
}
.critical {
	background-color: #EED4D2;
	border: 1px dashed #A94637;
	color: #AC241A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 8px 8px 8px 10px;
}
.alert {
	background-color: #F6F0CA;
	border: 1px dashed #8D7330;
	color: #815E38;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 8px 8px 8px 10px;
}
.message {
	left: 50%;
	margin-left: -250px;
	position: fixed;
	top: 50%;
	width: 500px;
	z-index: 10;
}
#overaly-wrapper {
	background: none repeat scroll 0 0 #000000;
	height: 100%;
	left: 0;
	opacity: 0.4;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}
input[type="radio"] {
	display: block;
	float: left;
	width: 20px!important;
	border: medium none;
	box-shadow: none;
	background: none;
}
.input-radio label {
	float: left;
	width: 161px;
}