#lang_btn.gr, #langs a.gr  {
	background-image:url('/images/flags/flat/24/GR.png');
}
#lang_btn.de, #langs a.de  {
	background-image:url('/images/flags/flat/24/DE.png');
}
#lang_btn.pt, #langs a.pt  {
	background-image:url('/images/flags/flat/24/PT.png');
}
#lang_btn.tr, #langs a.tr  {
	background-image:url('/images/flags/flat/24/TR.png');
}