html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    /**line-height: 1;*/
    margin:0; padding:0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

hgroup
{
    display: block;
}

a, button {
    border-radius: 0px !important;
}

.navbar-nav > li > a {
    padding:0;
}

*:focus {
    outline: 0 !important;
}
.modal-backdrop {
    z-index: 1020
}

.modal-content {
    border-radius:0px;
}
.modal-footer {
  padding: 0px;
  text-align: right;
  border-top: 0px solid #e5e5e5;
}
.modal-body {
    padding: 0 20px 20px 20px;
}

.modal-header {
    border: 0px;
}

.close {
    color:#0f90c0; font-size: 36px; opacity: 0.5; font-weight: normal;
}
.close:hover, .close:focus {
    color:#0f90c0; opacity: 1   
};

.thumbnail {
    background-color: #ffffff;
    border: 0px solid #dddddd;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0px;
    transition: all 0.2s ease-in-out 0s;;
}

