<div>
	<table width='100%' cellpadding='0' cellspacing='0'>
		<tr>
			<td width='1%' style='padding:0 8px 5px 8px'><a href='{$td_url}/index.php?act=tickets&amp;code=open'><img src='{$img_url}/ticket_icon.gif' alt='{$lang['open_ticket']}' /></a></td>
			<td width='46%'><span class='blbig'><a href='{$td_url}/index.php?act=tickets&amp;code=open'>{$lang['open_ticket']}</a></span></td>
			<td width='1%' style='padding:0 8px 5px 8px'><a href='{$td_url}/index.php?act=kb'><img src='{$img_url}/kb_icon.gif' alt='{$lang['knowledge_base']}' /></a></td>
			<td width='52%'><span class='blbig'><a href='{$td_url}/index.php?act=kb'>{$lang['knowledge_base']}</a></span></td>
		</tr>
	</table>
	{if $announcements}
		<div class="themeList">
		<h2 class="title">
			{if $cache['config']['enable_news_page']}
			<a href='{$td_url}/index.php?act=news'>
			{/if}{$lang['announcements']}{if $cache['config']['enable_news_page']}</a>
			{/if}
		</h2>
		{foreach $announcements $an}
		<div class="block">
			<div class="content">
			<h3>
				{if $cache['config']['enable_news_page']} 
				<a href='{$td_url}/index.php?act=news&amp;code=view&amp;id={$an['id']}'>
				{/if}
				{$an['title']}{if $cache['config']['enable_news_page']}
				</a> 
				{/if}<span class='date'> -- {$an['date']}</span> 
			</h3>
			<p> {$an['excerpt']} </p>
			</div>
		</div>
		{/foreach}
	</div>
	{/if}
	<h2>{$lang['ticket_overview']}</h2>
	<div class='sboutline'>
		<table width='100%' cellpadding='0' cellspacing='0'>
			<tr>
				<th width='6%'>{$lang['id']}</th>
				<th width='28%'>{$lang['subject']}</th>
				<th width='11%'>{$lang['priority']}</th>
				<th width='22%'>{$lang['department']}</th>
				<th width='20%'>{$lang['submitted']}</th>
				<th width='13%'>{$lang['status']}</th>
			</tr>
			{if $member['id'] OR $member['s_tkey']}
			{if $tickets_ov}
			{foreach $tickets_ov $tov}
			<tr>
				<td class='row1'><a href='{$td_url}/index.php?act=tickets&amp;code=view&amp;id={$tov['id']}'>{$tov['id']}</a></td>
				<td class='row1'><a href='{$td_url}/index.php?act=tickets&amp;code=view&amp;id={$tov['id']}'>{$tov['subject']}</a></td>
				<td class='row1'>{$tov['priority']}</td>
				<td class='row1'>{$tov['dname']}</td>
				<td class='row1'>{$tov['date']}</td>
				<td class='row1'>{$tov['status']}</td>
			</tr>
			{/foreach}
			{else}
			<tr>
				<td class='row1' colspan='6' align='center'>{$lang['no_tickets']}</td>
			</tr>
			{/if}
			{else}
			<tr>
				<td class='row1' colspan='6' align='center'>{$lang['no_login_tickets']}</td>
			</tr>
			{/if}
		</table>
	</div>
	<br class="clear" />
	
	<div class="themeList">
	<h2 class="title">{$lang['recently_added_articles']}</h2>
	{foreach $recent_articles $ra}
	<div class="block">
		<div class="content">
			<h3><a href='{$td_url}/index.php?act=article&amp;code=view&amp;id={$ra['id']}' title='{$ra['description']}'>{$ra['name']}</a></h3>
			<br class="clear" />
		</div>
	</div>
	{/foreach} 
	</div>
	
	<h2 class="title">{$lang['most_popular_articles']}</h2>
	<p class='lspace'>
	{foreach $popular_articles $pa} 
	<a href='{$td_url}/index.php?act=article&amp;code=view&amp;id={$pa['id']}' title='{$pa['description']}'>{$pa['name']}</a><br />
	{/foreach} 
	</p>
</div>
